/*Importar tipografías de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
/*font-family: 'Josefin Sans', sans-serif;*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerCart {
    background-color: #cb6452b2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 60px;
}

    .carritoCompras {
        background-color: #c64a34bf;
        width: 80%;
        height: auto;
        display: flex;
        align-self: center;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        border-radius: 5%;
    }

        .title1 {
            font-size: 2em;
            text-align: center;
            font-family: 'Oleo Script', cursive;
            text-shadow: 4px -3px 3px rgba(255,255,255,0.6);
            padding: 10px;
        }

        .productosSeleccionados {
            display: flex;
            flex-direction: column;
            
        }

            .title2 {
                font-size: 1.4em;
                font-family: 'PT Sans Caption', sans-serif;
                padding: 10px 0 10px 30px;
                text-align: center;
            }

        .containerBoton {
            width: 80%;
            display: flex;
            align-items: center;
            align-self: center;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            font-size: 1em;
        }

        .cartImg {
            width: 120px;
            height: 120px;
            margin: 10px 0;
        }

        .listaProductos {
            width: 85%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            border: 2px solid white;
        }

            .listaProductos h3,
            .listaProductos h4 {
                margin: 10px 0 ;
                font-family: 'Edu NSW ACT Foundation', cursive;
                font-size: 1.5em;
                text-align: center;
            }

        .priceSubtotal {
            width: 98%;
            text-align: start;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-family: 'Josefin Sans', sans-serif;
        }

            .priceSubtotal h5 {
                font-size: 1.15em;
                padding: 5px 0;
            }

        .descuento {
            width: 98%;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 1.2em;
            text-align: center;
        }

        .mediosPago {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

            .mediosPago img {
                width: 80%;
            }

            .mediosPago h3 {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 1.2em;
                text-align: center;
                padding-bottom: 10px;
            }


/*----------->MEDIA QUERIES*/


@media screen and (min-width: 650px) {
    .priceSubtotal{
        width: 70%;
    }

    .descuento {
        width:70% ;
    }
}


@media screen and (min-width: 800px) {
    .title1 {
        font-size: 2.8em;
    }

    .title2 {
        font-size: 1.6em;
    }

    .listaProductos {
        width: 500px;
    }

        .listaProductos h3,
        .listaProductos h4 {
            font-size: 1.8em;
        }

        .cartImg {
            width: 220px;
            height: 200px;
            margin: 10px 0;
        }
}


@media screen and (min-width: 950px) {
    .containerBoton {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .priceSubtotal{
        font-size: 1.2em;
    }
}


@media screen and (min-width: 1020px) {
    .productosSeleccionados {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .title2 {
        text-align: start;
    }
}


@media screen and (min-width: 1200px) {
    .title1 {
        font-size: 3.4em;
    }

    .title2 {
        font-size: 2em;
    }

    .containerBoton {
        width: 60%;
    }

    .mediosPago {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

            .mediosPago img {
                width: 60%;
            }

            .mediosPago h3 {
                font-size: 1.45em;
                padding-bottom: 0;
            }
}


@media screen and (min-width: 1360px) {
    .priceSubtotal {
        width: 60%;
        text-align: center;
        font-size: 1.35em;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: 'Josefin Sans', sans-serif;
    }

    .descuento {
        width: 60%;
        font-size: 1.35em;
    }

    .listaProductos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

        .listaProductos h3,
        .listaProductos h4 {
            font-size: 1.35em;
        }

        .cartImg {
            width: 140px;
            height: 140px;
            margin: 10px;
        }
}