/*Importar FONT FAMILY*/

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
/*font-family: 'Aboreto', cursive;*/


/*------>Estilos GENERAL del NAVBAR*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*------>Estilos ESPECÃFICOS del NAVBAR*/

.containerNavbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255,157,140);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

    .containerNavbar img {
        width: 20em;
        height: 7em;
        margin: 10px 25px;
    }
        
    .containerList {
        display: flex;
        gap: 30px;
        align-self: center;
        text-align: center;
    }

        .listFilter {
            list-style: none;
            position: relative;
            display: block;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
            color: black;
            font-family: 'Aboreto', cursive;
            font-weight: bolder;
            font-size: 1.15em;
            text-shadow: 2px -2px 3px #000000;
            text-decoration: none;
            transition: .5s;
            z-index: 1;
            width: 100%;
            height: 100%;
            padding: 5px 25px;
        }

            .listFilter:hover {
                color: black;
            }

                .listFilter:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-top: 3px solid rgba(134, 33, 15, 0.759);
                    border-bottom: 3px solid rgba(134, 33, 15, 0.759);
                    transform: scaleY(2);
                    opacity: 0;
                    transition: 0.3s;
                }

                    .listFilter:hover:before {
                        transform: scaleY(1);
                        opacity: 1;
                    }

                .listFilter:after {
                    content: "";
                    position: absolute;
                    top: 2px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(134, 33, 15, 0.527);
                    transform: scale(0);
                    opacity: 0;
                    transition: 0.3s;
                    z-index: -1;
                }

                    .listFilter:hover:after {
                        transform: scaleY(1);
                        opacity: 1;
                    }
 


/*----------->MEDIA QUERIES*/

@media screen and (min-width: 1450px) {
    .containerList {
        font-size: 1.2em;
        gap: 50px;
    }
} 